<h3>Card</h3>
<EditForm Model="Client">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="" />
                </div>
                <div class="col-md-4">
                    <h5>@Client.Name</h5>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {

}
